.item
  .image
    .shade1
      .shade2
        .shade3
          .imframe
            .imcont
              a(href='/image/'+image.id)
                img(src:'/images/thumb-'+image.filename)
  .title
    =image.title
  .tags
    - for (var tag in image.tags)
      span.tag
        a(href='/tag/'+image.tags[tag])
          =image.tags[tag]
