.item
  .image
    a(href='/image/'+image.id)
      img(src:'/images/thumb-'+image.filename)
  .maximize
    a(href='/images/'+image.filename)
      img(src:'/maximize.png')
  .title
    =image.title
  .tags
    - for (var tag in image.tags)
      span.tag
        a(href='/tag/'+image.tags[tag])
          =image.tags[tag]
