!!! 5
html(lang="en")
  head
    title Tuco
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Bevan|Copse")

  body
    #header
      a(href="/")
        h1 Tuco
    #container
      #maincol
        !{body}
      #sidebar
        !=partial('tags', tags)
