!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans|Copse|Droid+Sans+Mono|Ubuntu|Droid+Serif")
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>

  body
    #container
      !{body}
