!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Copse")

  body
    #container
      #maincol
        !{body}
      #sidebar
        !=partial('tags', tags)
