body {
  font-family: 'Copse', arial, serif;
  background-color: #f0f1f2;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.tags {
  margin: 10px 0;
}
.tag {
  background-color: #484848;
  padding: 5px;
  margin: 1px;
  font-size: 11px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.tag a {
  color: #dddddd;
  text-decoration: none;
}
.tag a:hover {
  text-decoration: underline;
}
#container {
  width: 980px;
  margin: 10px auto;
}
#maincol {
  width: 510px;
  float: left;
}
#sidebar {
  width: 100px;
  float: right;
  text-align: right;
}
.item {
  margin-bottom: 10px;
}
.maximize {
  float: right;
  margin-right: 10px;
}
